---
import Layout from "../../layouts/Layout.astro"
import SidebarLayout from "../../layouts/Sidebar"
import { CardArticle } from "../../components/CardArticle"
import typography from "../../components/typography"
import { prettyDate } from "../../lib/prettyDate"
import Heading from "@ds/Heading"
import Text from "@ds/Text"
import { getArticleBySlug, getArticles } from "@content/articles"

const title = "Writing"
const articles = getArticles()
const article = getArticleBySlug(Astro.params.slug || "")

const { Content } = article

export async function getStaticPaths() {
  return getArticles().map(function toStaticPaths(article) {
    return {
      params: { slug: article.slug, category: article.frontmatter.category },
    }
  })
}
---

<Layout title={article.frontmatter.title}>
  <SidebarLayout.Header
    title={article.frontmatter.title}
    backHref="/writing"
    client:idle
  />
  <SidebarLayout>
    <div class="sticky top-0 z-40 h-screen">
      <SidebarLayout.Sidebar client:idle />
    </div>
    <SidebarLayout.Panel title={title} selected={true}>
      <div class="-mx-4 flex flex-col">
        {
          articles.map((article) => (
            <CardArticle
              article={article}
              active={article.slug === Astro.params.slug}
            />
          ))
        }
      </div>
    </SidebarLayout.Panel>
    <SidebarLayout.Pane dots>
      <article
        class="flex min-h-screen w-full flex-col items-center bg-white p-5 dark:bg-black lg:pt-16"
      >
        <div class="flex w-full max-w-prose flex-col gap-2">
          <Heading as="h1" size={1}>
            {article.frontmatter.title}
          </Heading>
          <Text color="muted">
            <span class="break-keep"
              >{prettyDate(article.frontmatter.created || "")} · {
                (article as any).readingTime.text
              } min read</span
            >
          </Text>
          <Content components={{ ...typography }} />
        </div>
      </article>
    </SidebarLayout.Pane>
  </SidebarLayout>
</Layout>
